{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-3">
		<h1 class="text-center">
			{{article.title}}</h1>
		<figure class="col-lg-12">
			<img class="article-img mt-2" src="/assets/blog/images/{{article.image}}" alt="{{article.title}}" width="100%">
			<p class="date ">Ecrit le
				{{article.creatAt | date("d/m/Y")}}
				à
				{{article.creatAt | date("H:i")}}
				par
				{{article.author}}</p>
		</figure>
		<div class="article-intro col-lg-12" style="padding-top: 10px;">
			<p class="particle ">{{ article.content|raw }}</p>


		</div>
	</div>


{% endblock %}
